$default-bg: #EEF4F9;
$borders: 8px;
$font: 'Helvetica';
$colors:(
    "redc": #FC3401,
    "bluec": #03B9ED,
    "bluebg": #EEFAFF,   //unread
    "grayc": #F4F5F5      //read
);
$inner-margin: 15px;

body {
    height: 100%;
    background-color: #f0f3f8;
}

.container {
    font-family: $font;
    font-size: 12px;
    color: #3B3D3F; 
}
.contenedor{     
    background-color:#f5f5f5;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: $borders;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 3px 4px 12px -2px rgba(0,0,0,0.65);
}

.icon{
    width: 18px;
}

.filter{
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: space-between;
    width: 100%;
  }
.options{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .buttonDelete{
        font-family: $font;
        font-size: 12px;
        background-color: #ee2c2e;
        color: white;
        border-radius: 2px;
        border: none;
        padding: 5px;
        width: 70px;
        margin-left: 10px;
        cursor: pointer;

    }
    .buttonSpam{
        font-family: $font;
        font-size: 12px;
        background-color: #f5f5f5;
        color: gray;
        border-radius: 4px;
        padding: 5px;
        width: 70px;
        margin-left: 10px;
        cursor: pointer; 
       
    }
    .buttonUnread{
        background-color: #2cbaed;
        font-family: $font;
        font-size: 12px;
        color: white;
        border-radius: 2px;
        border: none;
        padding: 5px;
        width: auto;
        text-align: center;
        cursor: pointer;
        float: right;
        margin: 5%;
    }
   
}
.lista{
    grid-column: 1 / 2 ;
    grid-row: 3 /5 ;
}
.tittleMessage{
    grid-column: 2 / 3 ;
    grid-row: 2 /3 ;
}
.mensaje{
    grid-row: span 2;
    border: 2px;
}

.messagePreview{
    display: flex;
    width: calc(100% - 4px);
    border: 1px solid #dce7fe;
    border-bottom: 0;
    background-color: white;

    .large_block, .small_block{
        display: block;
        line-height: 22px;
        padding: 7px;
    }

    .large_block{
        font-size: 14px;
        width: 85%;
        padding-left: $inner-margin;
    }

    .small_block{
        font-size: 13px;
        width: 25%;
        text-align: end;
        padding-right: $inner-margin;
    }
}

.messagePreview:last-child{
    border: 1px solid #dce7fe;
}


.read{
    background-color: map-get($colors, bluebg);
    border-left: 3px solid map_get($colors, bluec);

    .large_block{
        .sender{
            color: map-get($colors, bluec);
        }
    }
}

.unread{

}

.search{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.search .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

