.lista{
  grid-column: 1 / 2 ;
  grid-row: 3 /6 ;
  overflow: auto;
  height: 625px;     /*responsive*/
  cursor: pointer;
  max-height: 578px;
  
  .messagePreview{
    display: flex;
    width: calc(100% - 4px);    /*responsive*/
    border: 1px solid #dce7fe;
    border-bottom: 0;
    background-color: white;

    .large_block, .small_block{
      display: block;
      line-height: 22px;
      padding: 7px;
    }

    .large_block{
      font-size: 14px;
      width: 85%;
      padding-left: $inner-margin;
    }

    .small_block{
      font-size: 13px;
      width: 25%;
      text-align: end;
      padding-right: $inner-margin;
    }
  }

  .unread {
    background-color: map-get($colors, bluebg);
    border-left: 3px solid map-get($colors, bluec);

    .large_block {
      .sender {
        color: map-get($colors, bluec);
      }
    }
  }

  .read{
    border: 1px solid #dce7fe;
    border-bottom: 0;
    padding-right: 2px;
  }

  .messageComponent:last-child .messagePreview{
    border-bottom: 1px solid #dce7fe;
  }
}
