    @import "MessageBody";
    @import "Options";
    @import "Filter";
    @import "Search";
    @import "TitleMessage";
    @import "List";
    @import "Tag";

    @media only screen and (min-width : 768px) and (max-width : 1024px) {

        .contenedor{
        height: 1172px;
        margin: 5%;
        margin-top: 7%;
        }
    } 